.app-container {
  height: 100vh;
}

.sidenav {
  min-width: 56px;
  max-width: 56px;
}

.content {
  background-color: #edf1f7;
  .content-inside {
    background-color: #fff;
    border-top: 5px solid #201E5B;
  }
}

.container-content {
  position: absolute;
  height: calc(100% - 66.25px) !important;
  width: 100%;
}
